#!/bin/bash

#Define Displayname & Diskname
VML={{ xen_display_name }}


#Support we are using local storage
SRUUID=`xe sr-list name-label="{{ xen_storage_name }}" --minimal`

#Get template uuid

TPUUID=`xe template-list name-label="{{ xen_template_create_from_name }}" --minimal`


#Use RHEL ENTERPRISE 6 64bit as template
VMUUID=`xe vm-install new-name-label=${VML} sr-uuid=${SRUUID} template=${TPUUID}`


#Set CPUs and Memory

xe vm-param-set VCPUs-max={{ xen_vcpus_max }} uuid=${VMUUID}
xe vm-param-set VCPUs-at-startup={{ xen_vcpus_startup }} uuid=${VMUUID}
xe vm-param-set memory-dynamic-max={{ xen_memory_dmax }}GiB uuid=${VMUUID}
xe vm-param-set memory-static-max={{ xen_memory_smax }}GiB uuid=${VMUUID}
xe vm-param-set memory-dynamic-min={{ xen_memory_dmin }}GiB uuid=${VMUUID}
xe vm-param-set memory-static-min={{ xen_memory_smin}}GiB uuid=${VMUUID}

#Set HV or PV
xe vm-param-set HVM-boot-policy="" uuid=${VMUUID}
xe vm-param-set PV-bootloader="eliloader" uuid=${VMUUID}

#After setting PV, transfer install url and Kickstart
xe vm-param-set other-config:install-repository="{{ xen_install_repo }}" uuid=${VMUUID}
xe vm-param-set PV-args="console=hvc0 utf8 nogpt noipv6 ks={{ xen_install_ks }}" uuid=${VMUUID}

#Change default VDI to 40GiB
#VBDUUID=`xe vbd-list vm-name-label=${VML} --minimal`
#VDIUUID=`xe vbd-param-get uuid=${VBDUUID} param-name=vdi-uuid --minimal`
#xe vdi-resize uuid=${VDIUUID} disk-size=40GiB

#We are not removing the data
#xe vm-disk-remove vm=${VML}
#ORIVBD=`xe vbd-list vm-name-label={VML} --minimal`

#Add extra disk
#xe vm-disk-add uuid=${VMUUID} sr-uuid=${SRUUID} device=2 disk-size=40GiB
#VDBUUID=`xe vbd-list vm-uuid=${VMUUID} userdevice=0 params=uuid --minimal`
#xe vbd-param-set bootable=true uuid=${VDBUUID}

#Create relative network with eth0
BRUUID=`xe network-list bridge={{ xen_bridge }} --minimal`
xe vif-create vm-uuid=${VMUUID} network-uuid=${BRUUID} mac=random device=0

#ADD cdrom as devices, then reject xs-tools. since it will be installed with ks
xe vm-cd-add cd-name={{ xen_tools_iso }} device=1 vm=${VML}
xe vm-cd-eject uuid=${VMUUID}

#Start to install
xe vm-start uuid=${VMUUID}
