#
# Enter your API key - It can be found at https://mms.mongodb.com/settings
#
mmsApiKey={{ mms_api_key }}

#
# Hostname of the MMS Backup web server.
#
mothership={{ mms_mothership_server }}

#
# Communicate with the MMS Backup web server over HTTPS
#
https={{ mms_https_enable }}

# For additional optional settings, please see
# https://mms.mongodb.com/help/reference/backup-agent
